<%- include('../layouts/header.ejs') %>
                
                <!-- Page-header start -->
                 <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Dashboard</h5>
                                    <p class="m-b-0">Selamat Datang di PT. Perkakas Rekadaya Nusantara</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-header end -->
                  <div class="pcoded-inner-content">
                      <!-- Main-body start -->
                      <div class="main-body">
                          <div class="page-wrapper">
                            
                            
                            
                            <!-- Page-body start -->
                              <div class="page-body">
                                  <div class="row">
                                     
                                    <% if(jabatan == 'sales') { %>
                                      <canvas id="myChartUnderBracket"></canvas>

                                      <canvas id="myChartInnerTube"></canvas>

                                      <canvas id="myChartTotal"></canvas>

                                      <% } else if(jabatan == 'ppc') { %>

                                        <center>
                                          <h3>Tabel Ringkasan PA Schedule dan Capaian Produksi</h3>
                                      </center>
                                      
                                    <table class="table" id="produk_jadi_tabel">
                                      <thead>
                                       
                                          <tr>
                                          <th scope="col">No</th>
                                          <th scope="col">Nama Produk</th>
                                          <th scope="col">Nomor Part</th>
                                          <th scope="col">Plan Produksi</th>
                                          <th scope="col">Hasil Produksi</th>
                                          <th scope="col">Persentase</th>
                                        </tr>
                                      
                                      </thead>
                                      <tbody>

                                          
                                      
                                      <% if ( ppc_dashboard && ppc_dashboard.length){ %>



                                          <% for(var i = 0; i < ppc_dashboard.length; i++){ %>

                                              <tr>
                                                <th scope="row"><%= (i+1) %></th>
                                                <td><%= ppc_dashboard[i].produk %></td>
                                                <td><%= ppc_dashboard[i].no_part %></td>
                            
                                    
                                                <td><%= ppc_dashboard[i].total_plan_produksi %></td>
                                                <td><%= ppc_dashboard[i].total_hasil_produksi %></td>
                                                <td><%= ppc_dashboard[i].persentase %> %</td>

                                            </tr>

                                            <% } %>

                                            <% } else { %>

                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>


                                              <% } %>
                                   
                              
                                      </tbody>
                                    </table>






                                      

                                      <% } else if(jabatan == 'produksi') { %>




                                        <center>
                                          <h3>Tabel Ringkasan Capaian Produksi dan Quality</h3>
                                      </center>
                                      
                                    <table class="table" id="produk_jadi_tabel">
                                      <thead>
                                       
                                          <tr>
                                          <th scope="col">No</th>
                                          <th scope="col">Nama Produk</th>
                                          <th scope="col">Nomor Part</th>
                                          <th scope="col">Hasil Produksi</th>
                                          <th scope="col">Kuantitas</th>
                                          <th scope="col">Persentase NG</th>
                                        </tr>
                                      
                                      </thead>
                                      <tbody>

                                          
                                      
                                      <% if ( hasil_quality && hasil_quality.length){ %>



                                          <% for(var i = 0; i < hasil_quality.length; i++){ %>

                                              <tr>
                                                <th scope="row"><%= (i+1) %></th>
                                                <td><%= hasil_quality[i].produk %></td>
                                                <td><%= hasil_quality[i].no_part %></td>
                            
                                    
                                                <td><%= hasil_quality[i].total_hasil_produksi %></td>
                                                <td><%= hasil_quality[i].total_kuantitas %></td>
                                                <!-- <td><%= hasil_quality[i].persentase_ngs %> %</td> -->
                                                <td><%= hasil_quality[i].persentase_ng %> %</td>

                                            </tr>

                                            <% } %>

                                            <% } else { %>

                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>


                                              <% } %>
                                   
                              
                                      </tbody>
                                    </table>






                                        <!-- <canvas id="ProduksiUnderBracket"></canvas>
                                        <canvas id="ProduksiInnerTube"></canvas> -->



<!-- 
                                        <table class="table" id="Tables">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                               
                                                    <th>Produk</th>
                                                    <th>Part No</th>
                                                    <th>Hasil Produksi</th>
                                                    <th>Jenis Kecacatan</th>
                                                    <th>Kuantitas</th>
                                                    <th>Persentase NG</th>
               
                                                </tr>
                                            </thead>
                                            <tbody>
    
                                                <% for(var i = 0; i < capaian_produksi.length; i++){ %>
                                                    <tr>
                                                        <th scope="row"><%=  (i+1)  %></th>
                               
                               
                                                        <td><%= capaian_produksi[i].produk %></td>
                                                        <td><%= capaian_produksi[i].no_part %></td>
                                                        <td><%= capaian_produksi[i].hasil_produksi %></td>
                                                        <td><%= capaian_produksi[i].jenis_kecacatan %></td>
                                                        <td><%= capaian_produksi[i].kuantitas %></td>
                                                        <td><%= capaian_produksi[i].persentase_ng %></td>
                                                        
        
                                                    </tr>
                                                <% } %>
    
                                            </tbody>
                                        </table> -->



                                        




                                        <% } else if(jabatan == 'store') { %>





                                            <center>
                                                <h3>Tabel Ringkasan Produksi</h3>
                                            </center>
                                            
                                          <table class="table" id="produk_jadi_tabel">
                                            <thead>
                                             
                                                <tr>
                                                <th scope="col">No</th>
                                                <th scope="col">Nama Produk</th>
                                                <th scope="col">Nomor Part</th>
                                                <th scope="col">Stok Bahan Baku Keluar</th>
                                                <th scope="col">Stok Produk Jadi Masuk</th>
                                                <th scope="col">Stok Produksi</th>
                                                <th scope="col">Stok Keseluruhan</th>
                                              </tr>
                                            
                                            </thead>
                                            <tbody>

                                                
                                            
                                            <% if ( ringkasan_produksi && ringkasan_produksi.length){ %>



                                                <% for(var i = 0; i < ringkasan_produksi.length; i++){ %>

                                                    <tr>
                                                      <th scope="row"><%= (i+1) %></th>
                                                      <td><%= ringkasan_produksi[i].nama_produk %></td>
                                                      <td><%= ringkasan_produksi[i].no_part %></td>
                                  
                                          
                                                      <td><%= ringkasan_produksi[i].stok_bahan_baku %></td>
                                                      <td><%= ringkasan_produksi[i].stok_produk_jadi %></td>
                                                      <td><%= ringkasan_produksi[i].stok_produksi %></td>
                                                      <td><%= ringkasan_produksi[i].stok_keseluruhan %></td>
  
                                                  </tr>
  
                                                  <% } %>

                                                  <% } else { %>

                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>


                                                    <% } %>
                                         
                                    
                                            </tbody>
                                          </table>






                                            <!-- <center>
                                                <h3>Tabel Bahan Baku</h3>
                                            </center>
                                 

                                            <table class="table" id="bahan_baku_tabel">
                                                <thead>
                                                 
                                                    <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Nama Bahan Baku</th>
                                                    <th scope="col">Nomor Part</th>
                                                    <th scope="col">Bahan Baku Masuk</th>
                                                    <th scope="col">Bahan Baku Keluar</th>
                                                    <th scope="col">Stok</th>
                                                  </tr>
                                                
                                                </thead>
                                                <tbody>

                                            <% if ( bahan_baku && bahan_baku.length){ %>

                                                <% for(var i = 0; i < bahan_baku.length; i++){ %>

                                                  <tr>
                                                    <th scope="row"><%= (i+1) %></th>
                                                    <td><%= bahan_baku[i].nama_bahan %></td>
                                                    <td><%= bahan_baku[i].no_part %></td>
                                
                                        
                                                    <td><%= bahan_baku[i].count_masuk %></td>
                                                    <td><%= bahan_baku[i].count_keluar %></td>
                                                    <td><%= bahan_baku[i].stok %></td>

                                                </tr>

                                                <% } %>

                                                <% } else { %>

                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>

                                                <% } %>
                                             
                                        
                                                </tbody>
                                              </table>


                                                <br>

                                                <center>
                                                    <h3>Tabel Produk Jadi</h3>
                                                </center>
                                                
                                              <table class="table" id="produk_jadi_tabel">
                                                <thead>
                                                 
                                                    <tr>
                                                  <th scope="col">No</th> 
                                                    <th scope="col">Nama Produk Jadi</th>
                                                    <th scope="col">Nomor Part</th>
                                                    <th scope="col">Produk Jadi Masuk</th>
                                                    <th scope="col">Produk Jadi Keluar</th>
                                                    <th scope="col">Stok</th>
                                                  </tr>
                                                
                                                </thead>
                                                <tbody>

                                                    
                                                
                                                <% if ( produk_jadi && produk_jadi.length){ %>



                                                    <% for(var i = 0; i < produk_jadi.length; i++){ %>

                                                        <tr>
                                                          <th scope="row"><%= (i+1) %></th>
                                                          <td><%= produk_jadi[i].nama_bahan %></td>
                                                          <td><%= produk_jadi[i].no_part %></td>
                                      
                                              
                                                          <td><%= produk_jadi[i].count_masuk %></td>
                                                          <td><%= produk_jadi[i].count_keluar %></td>
                                                          <td><%= produk_jadi[i].stok %></td>
      
                                                      </tr>
      
                                                      <% } %>

                                                      <% } else { %>

                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>


                                                        <% } %>
                                             
                                        
                                                </tbody>
                                              </table> -->









    
                                        <% } else { %>

                                            <% } %>


                            


                                  </div>
                              </div>
                              <!-- Page-body end -->
                          </div>


                          <%- include('../layouts/footer.ejs') %>