<%- include('../../layouts/header.ejs') %>

        <!-- Page-header start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <div class="page-header-title">
                            <h5 class="m-b-10"><%= title %></h5>
                            <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="index.html"> <i class="ti ti-harddrive"></i> </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!"><%= title %></a>
                            </li>
                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page-header end -->
        <div class="pcoded-inner-content">
            <!-- Main-body start -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- Page-body start -->
                    <div class="page-body">
                        <!-- Basic table card start -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Edit Data Capaian Produksi</h5>
                                <!-- <span>use class <code>table</code> inside table element</span> -->
                                <br> <br>

                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                        <li><i class="fa fa-trash close-card"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                               


                    
                                    
                                    <form action="/capaian_produksi/quality/update/<%= data[0].id %>" method = "POST">

                                        <div class="form-group">
                                            <label for="tanggal">Tanggal</label>
                                            <input type="date" name="tanggal" id="tanggal" class = "form-control" value="<%= data[0].tanggal %>">
                                        </div>

                                        <input type="hidden" name="bulan" id="bulan">
                            
                                        <div class="form-group">
                                            <label for="shift">Shift</label>
                                            <input type="text" name="shift" id="shift" class = "form-control" value="<%= data[0].shift %>">
                                        </div>
                            
                            
                                            <div class="form-group">
                                                <label for="produk">Produk</label>
                                                <input type="text" name="produk" id="produk" class = "form-control" value="<%= data[0].produk %>">
                                            </div>
                            
                            
                            
                                            
                                            <div class="form-group">
                                                <label for="no_part">Nomor Part</label>
                                                <input type="text" name="no_part" id="no_part" class = "form-control" value="<%= data[0].no_part %>">
                                            </div>
                            
                                            
                                            <div class="form-group">
                                                <label for="hasil_produksi">Hasil Produksi</label>
                                                <input type="text" name="hasil_produksi" id="hasil_produksi" class = "form-control" value="<%= data[0].hasil_produksi %>">
                                            </div>
                            
                            
                            
                                            <div class="form-group">
                                                <label for="jenis_kecacatan">Jenis Kecacatan</label>
                                                <input type="text" name="jenis_kecacatan" id="jenis_kecacatan" class = "form-control" value="<%= data[0].jenis_kecacatan %>">
                                            </div>
                            
                            
                                            <div class="form-group">
                                                <label for="kuantitas">Kuantitas</label>
                                                <input type="number" name="kuantitas" id="kuantitas" class = "form-control" value="<%= data[0].kuantitas %>">
                                            </div>
                            
                                        
                                        <div class="form-group">
                                            <button type = "submit" class = "btn btn-primary">Update Data</button>
                                        </div>


                                    </form>



                                </div>
                            </div>
                        </div>
                        <!-- Basic table card end -->
                      
            
                       
                    </div>
                    <!-- Page-body end -->
                </div>
          




                <script>

                    const tanggal_input = document.getElementById('tanggal');
                
                    tanggal_input.addEventListener("change", function() {
                      
                      const data_tanggal = tanggal_input.value;
                
                    const date = new Date(data_tanggal);
                
                    const monthNames = [
                    "Januari", "Februari", "Maret",
                    "April", "Mei", "Juni", "Juli",
                    "Agustus", "September", "Oktober",
                    "November", "Desember"
                  ];
                  const month = monthNames[date.getMonth()];
                
                    // document.getElementById('bulan').value = month;
                
                    document.getElementById('bulan').value = month;
                    
                  });
                
                    
                  </script>











<%- include('../../layouts/footer.ejs') %>